name: 'Generate Java Classes'
on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        default: latest
        required: false
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
    secrets:
      ACCESS_TOKEN_JAVA_API:
        required: true
      CREATE_RELEASE_TOKEN:
        required: true
jobs:
  generation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.15.x
          cache: npm
      - name: Install
        run: npm install
      - name: Get Schemas
        id: schemas
        env:
          TAG: ${{ inputs.tag }}
        run: |
          RELEASETAG=`node download_repo.js -T -o "bo4e" -r "BO4E-Schemas" -t "$TAG"`
          echo $RELEASETAG
          echo "TAGNAME=$RELEASETAG" >> "$GITHUB_OUTPUT"
      - name: Generate
        if: ${{ steps.schemas.outputs.TAGNAME != 'invalid' }}
        run: |
          [[ -d "BO4E-Schemas/src/bo4e_schemas" ]] && node quicktype.js -c -i "BO4E-Schemas/src/bo4e_schemas" -o "bo4e"
      - name: Push changes
        if: ${{ steps.schemas.outputs.TAGNAME != 'invalid' }}
        uses: cpina/github-action-push-to-another-repository@v1.7.2
        env:
          API_TOKEN_GITHUB: ${{ secrets.ACCESS_TOKEN_JAVA_API }}
        with:
          source-directory: "bo4e"
          target-directory: "bo4e"
          destination-github-username: "bo4e"
          destination-repository-name: "BO4E-Java"
          user-email: bo4e-schemas@hochfrequenz.de
          target-branch: main
          commit-message: "Update JAVA-Classes - BO4E ${{ steps.schemas.outputs.TAGNAME }}"
      - name: Generate with dependecies
        if: ${{ steps.schemas.outputs.TAGNAME != 'invalid' }}
        run: |
          [[ -d "BO4E-Schemas/src/bo4e_schemas" ]] && node quicktype.js -ca -i "BO4E-Schemas/src/bo4e_schemas" -o "bo4e"
      - name: Push changes with dependencies
        if: ${{ steps.schemas.outputs.TAGNAME != 'invalid' }}
        uses: cpina/github-action-push-to-another-repository@v1.7.2
        env:
          API_TOKEN_GITHUB: ${{ secrets.BO4E_JAVA_GENERATOR_TOKEN }}
        with:
          source-directory: "bo4e"
          target-directory: "bo4e"
          destination-github-username: "bo4e"
          destination-repository-name: "BO4E-Java"
          user-email: bo4e-schemas@hochfrequenz.de
          target-branch: withDependencies
          commit-message: "Update JAVA-Classes - BO4E ${{ steps.schemas.outputs.TAGNAME }}-wd"
      - name: Create Release
        if: ${{ steps.schemas.outputs.TAGNAME != 'invalid' }}
        env:
          TOKEN: ${{ secrets.BO4E_JAVA_GENERATOR_TOKEN }}
          VERSION: ${{ steps.schemas.outputs.TAGNAME }}
        run: |
          node create_release.js -o "bo4e" -r "BO4E-Java" -a "$TOKEN" -t "$VERSION" --input-owner "bo4e" --input-repo "BO4E-Schemas"
          node create_release.js -o "bo4e" -r "BO4E-Java" -a "$TOKEN" -t "$VERSION" -b "withDependencies" --input-owner "bo4e" --input-repo "BO4E-Schemas"
