name: 'Synchronise Releases'
on: 
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:
  workflow_call:
jobs:
  synchronisation:
    runs-on: ubuntu-latest
    outputs:
      tagname: ${{ steps.release.outputs.TAGNAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.15.x
          cache: npm
      - name: Install
        run: npm install
      - name: Sync
        id: release
        env:
          TOKEN: ${{ secrets.CREATE_RELEASE_TOKEN }}
        run: |
          TAG=`node sync_releases.js -o "bo4e" -r "BO4E-Java" -a $TOKEN --input-owner "bo4e" --input-repo "BO4E-Schemas"`
          echo $TAG
          echo "TAGNAME=$TAG" >> "$GITHUB_OUTPUT"
  call_workflow:
    needs: synchronisation
    if: ${{ needs.synchronisation.outputs.tagname != '' && needs.synchronisation.outputs.tagname != 'none' }}
    uses: ./.github/workflows/generate.yml
    with:
      tag: ${{ needs.synchronisation.outputs.tagname }}
    secrets:
      ACCESS_TOKEN_JAVA_API: ${{ secrets.ACCESS_TOKEN_JAVA_API }}
      CREATE_RELEASE_TOKEN: ${{ secrets.CREATE_RELEASE_TOKEN }}
          
